<%- include('./heder.ejs',{title:data.tytul}); -%>
<body>
      

        <table class="table thead-dark table-striped table-dark">
        <thead>
          <tr >
            <th scope="col" style="width: 350px"></th>
            <th scope="col">nazwa rodzaju projektu</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<rodzaj.length; i++) {%>
            <tr >
              <th scope="row">
                <form  action="/rodzajepost" method="post" enctype="multipart/form-data">   
      <input type="submit" name="zapisz" type="button" class="btn btn-success" value="Zapisz zmiane wiersza">
      <input type="submit" name="usun" type="button" class="btn btn-danger" value="Usuń wiersz">
                
      <input type="hidden" name="id_rodzaj" value="<%= rodzaj[i].id_rodzaj %>">
              </th>
              <td ><input class="form-control"  type="text" name="nazwa_rodzaj" value="<%= rodzaj[i].nazwa_rodzaj %>"> </td>
            </tr>
          </form> 
          <% } %>
          <tr >
            <th scope="row">
        <form  action="/rodzajepost" method="post" enctype="multipart/form-data">     
    <input type="submit" name="dodaj" class="btn btn-success" value="Dodaj"></button>
            </th>
            <td ><input name="nazwa_rodzaj" class="form-control"  type="text" value="" placeholder="Wpisz rodzaj" required> </td>
          </form> 
          </tr>
          
        </tbody>
      </table>





    </body>

    <%- include('./footer.ejs'); -%>